input {
    font-family: 'Inter';
    width: 100px;
    border: none;
    background-image: none;
    background-color: transparent;
    color: transparent;
    caret-color: #848484;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
  }
  
  input:focus {
    outline: none;
    box-shadow: none !important;
  }
  